{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<form method="POST" action="" enctype="multipart/form-data">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="title-header"> Add Student </h4>
    </div>

    <div class="modal-body">
        {{ form.non_field_errors }}
        {% for f in form %}
            <div class="form-group" required>
                <label> {{ f.label }} </label>
                {{ f }}
                <span> {{ f.errors|striptags }} </span>
            </div>
        {% endfor %}
        <img id="output_image"/ style="width:100px;" "height:100px;"> 
        <button type="submit" class="btn btn-primary"> Add Student </button>
    </div>
</form>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('#id_faculty').select2();
    })

    var loadFile = function(event){
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('output_image');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>

{% endblock scripts %}