{% load static %}
{% block main_content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' %}" >
  
    
 <div class="sidebar">
      <center>
         {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" style="height:150px;width:150px;border-radius:50%">
                {% else %}
                <img src="{% static 'img/2.jpg' %}" style="height:150px;width:150px;border-radius:50%">
                {% endif %}
        <h4>Dashboard</h4>
      </center>
      {% url 'student_home' as student_home %}
      <a href="{{ student_home }}" class="nav-link {% if request.path == add_student %} active {% endif %}"></a>
      <i class="nav-icon fas fa-th"></i>
      <p>
        Home
      </p>
     

    </div>
  </aside>

{% endblock main_content %}